<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: white;">
    <a class="navbar-brand" href="<%= lessons_path %>">Lesson Plans</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Lessons", lessons_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Lesson', new_lesson_path, class: "nav-link" %>
        </li>
      </ul>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
    </div>
  </nav>
</header>